div.css-ml2xh6.e1f1d6gn1 
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;	
}

div.css-keje6w.e1f1d6gn1
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;
}

div.css-1sdqqxz.e1f1d6gn1
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;
}

div.css-o3een2.e1f1d6gn0
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;
}