div.st-emotion-cache-ml2xh6.e1f1d6gn2
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;	
}

div.st-emotion-cache-keje6w.e1f1d6gn2
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;
}

div.st-emotion-cache-16nc0hx.e1f1d6gn2
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;
}

div.css-o3een2.e1f1d6gn0
{
	background-color: #0E1117;
	border: 2px solid #696789;
	padding: 20px 20px 20px 70px;
	padding: 3% 3% 3% 6%;
	border-radius: 10px;
}

span.css-8hkptd.eyeqlp50
{
	font-size : 1.7rem;
}

span.css-1h48mob.eczjsme5 {
    font-size:1.7rem;
}

.css-1uy0bt2
{
	line-height: 3;
}

div.st-emotion-cache-zq5wmm.ezrtsby0
{
	visibility: hidden;
}

footer.st-emotion-cache-10pw50.ea3mdgi1
{
	visibility: hidden;
}